#sidebar-left {
	border-color: #3aa7c1;
  	border-style: solid;
  	border-width: 4px;
  	background-color: #3aa7c1;
}

#sidebar-left li.collapsed {
  background: #3aa7c1 url(/sites/all/themes/ets/images/arrow-right-hours-small.png) right center no-repeat; /* LTR */
  background-position: 135px 6px;
}

#sidebar-left a:hover{
	background: #006D9B;
	url(/sites/all/themes/ets/images/arrow-right-help-small-white.png) right center no-repeat;
    background-position: 135px 6px;
}